.pokecard {
    display: flex;
    flex-direction: column;
    border: $grey-border;
    align-items: center;
    justify-content: center;

    border-radius: $smallest-border-radius;
    overflow: hidden;

    padding: 1.6rem;

    transition: all .2s ease-in;
    
    &__display {

        width: 100%;

        background-image: url(../../../../public/pokemon_background.png);
        background-size: cover;
        background-position: center;

        border-radius: $smallest-border-radius;
        border: $grey-border;

        &--img {
            display: block;
            width: 50%;
            margin: auto;
        }
    }

    &__detail {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 1.25rem 0;
        padding: 1.25rem;

        width: 100%;

        border: $grey-border;
        border-radius: $smallest-border-radius;

        &--top {
            font-size: 1.5rem;
        }

        &--center {
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            gap: 3.2rem;
            padding: 1.6rem 3.2rem;
            font-size: 1.2rem;
            text-transform: capitalize;
        }

        &--left {
            font-weight: bold;
        }

        &--right {
            font-weight: 600;
        }

        &--bottom {
            width: 100%;
            font-size: 1.25rem;
            display: flex;
            justify-content: space-between;
        }
    }
}

.pokemon {
    &__name {
        text-transform: capitalize;
    }
}