.footer {

    display: flex;
    flex-direction: column;
    width: 85%;
    border-top: 2px solid black;
    background-color: whitesmoke;
    padding: 8rem 16rem;
    margin: 32rem auto 8rem;

    text-align: center;

    border-radius: 0 0 $small-border-radius $small-border-radius;

    &__text-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8rem;
    }

    &__text {
        flex: 1;
        align-self: stretch;

        &:not(:last-of-type) {
            border-right: $default-border;
        }

        &:not(:first-child) {
            padding-left: 4rem;
        }

        &:not(:last-child) {
            padding-right: 4rem;
        }
    }


    &__legal {
        margin-top: 8rem;
    }

}