.navigation {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    margin: 0 8rem;

    &__list {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        list-style: none;
        gap: 4rem;
    }

    &__item {
        text-transform: capitalize;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__link {
        border-radius: $default-border-radius;
        padding: 1rem 1.5rem;

        transition: all .2s ease;

        &:visited,
        &:link {
            color: #000;
            text-decoration: none;
        }

        &:hover {
            background-color: $color-aqua-dark-2;
            color: $font-color-primary;
        }

        &--selected { //Stands for the selected page
            background-color: $color-aqua-dark-2;
            color: $font-color-primary;

            &:hover {
                opacity: 1.2;
            }
        }
    }
}