.pokelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 80%;

    margin: 8rem auto;

    &__header {
        background-color: white;
        border: 1px solid red;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 80%;
    }


    &__main {
       border: 1px red solid;
       display: flex;
       flex-wrap: wrap;

       gap: 1.6rem;

       align-items: center;
       justify-content: center;

       padding: 6.4rem;
    }

    &__card {

        margin: 1.6rem;
        padding: 1.6rem;

        width: calc(10vw + 10rem);

        background-color: $color-aqua-light;
        border-radius: $default-border-radius;

        
        & * {
            
            transition: all .2s ease;
        }
        
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__img {
            width: 75%;

            &:hover {
                transform: scale(1.25);
            }


        }

        &__title {
            text-transform: capitalize;
            color: $font-color-primary;
        }
    }
}