.random-btn {

    width: 2.5rem;
    height: 2.5rem;
    padding: 1.5rem;

    background: rgb(0, 102, 255) url(../../../../public/shuffle.svg);
    background-size: 80%;
    background-position: center;
}