#search-icon {

    background-image: url(../../../assets/icons/search.svg);
    background-size: cover;
}

#filter_list-icon {

    background-image: url(../../../assets/icons/filter_list.svg);
    background-size: cover;
}