// COLORS
$color-aqua-dark: #104a62;
$color-aqua-dark-2: #107394;

$color-aqua-light: #419cbd;
$color-aqua-light-2: #83deff;

$font-color-primary: whitesmoke;

// FONTS 
$default-font-size: 1.6rem;

// SHADOWS
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);

// BORDER RADIUS
$default-border-radius: 2.5rem;
$small-border-radius: 1.5rem;
