.default {
  --primary-color: #D16BA5;
  --secondary-color: #86A8E7;
  --tertiary-color: #5FFBF1;
  --quarternary-color: rgb(255, 255, 255);
}

.bug {
  --primary-color: #91BA30;
  --secondary-color: #BEDD6E;
  --tertiary-color: #D8FC9D;
  --quarternary-color: rgb(68, 68, 68);
}

.dark {
  --primary-color: #2e231c;
  --secondary-color: #604733ef;
  --tertiary-color: #936754;
  --quarternary-color: rgb(245, 231, 231);
}

.dragon {
  --primary-color: #4623a0;
  --secondary-color: #8d5ef5;
  --tertiary-color: #d3adfc;
  --quarternary-color: rgb(238, 222, 222);
}

.electric {
  --primary-color: #969104de;
  --secondary-color: #e7e41dc2;
  --tertiary-color: #f6fc84;
  --quarternary-color: rgb(71, 71, 71);
}

.fairy {
  --primary-color: #F87EA7;
  --secondary-color: #FFA0C2;
  --tertiary-color: #FDD1E0;
  --quarternary-color: rgba(56, 47, 47, 0.877);
}

.fighting {
  --primary-color: #800B11;
  --secondary-color: #E8131A;
  --tertiary-color: #D46065;
  --quarternary-color: rgb(44, 34, 33);
}

.fire {
  --primary-color: #FC0C0A;
  --secondary-color: #F57F0B;
  --tertiary-color: #F8B80D;
  --quarternary-color: rgb(61, 55, 45);
}

.flying {
  --primary-color: #1f6e7a;
  --secondary-color: #3cb1ab;
  --tertiary-color: #ade1fd;
  --quarternary-color: rgb(54, 63, 63);
}

.ghost {
  --primary-color: #472B53;
  --secondary-color: #8F55A4;
  --tertiary-color: #BD98CB;
  --quarternary-color: rgb(252, 236, 255);
}

.grass {
  --primary-color: #2e5507;
  --secondary-color: #409608;
  --tertiary-color: #68F60B;
  --quarternary-color: rgb(242, 253, 235);
}

.ground {
  --primary-color: #BFAC22;
  --secondary-color: #E2D25B;
  --tertiary-color: #F0E295;
  --quarternary-color: rgb(85, 82, 82);
}

.ice {
  --primary-color: #113C43;
  --secondary-color: #1B94A3;
  --tertiary-color: #66D0E5;
  --quarternary-color: rgb(205, 255, 248);
}

.normal {
  --primary-color: #CCC9AA;
  --secondary-color: #EAEADE;
  --tertiary-color: #F4F5F0;
  --quarternary-color: rgb(68, 68, 68);
}

.poison {
  --primary-color: #621580;
  --secondary-color: #a82ad6c5;
  --tertiary-color: #CA72EB;
  --quarternary-color: rgb(239, 221, 250);
}

.psychic {
  --primary-color: #bd1e53;
  --secondary-color: #db2068e3;
  --tertiary-color: #F55792;
  --quarternary-color: rgb(224, 220, 222);
}

.rock {
  --primary-color: #473F26;
  --secondary-color: #786B3F;
  --tertiary-color: #958350;
  --quarternary-color: rgb(255, 251, 239);
}

.steel {
  --primary-color: #454545;
  --secondary-color: #7C8E8A;
  --tertiary-color: #BBC5C4;
  --quarternary-color: rgb(37, 41, 39);
}

.water {
  --primary-color: #09517A;
  --secondary-color: #0c7abef8;
  --tertiary-color: #36AFF6;
  --quarternary-color: rgb(230, 246, 255);
}

/*
.normal { // NORMAL TYPE
    --primary-color: #CCC9AA;
    --secondary-color: #EAEADE;
    --tertiary-color: #F4F5F0;
    --quarternary-color: #ABABAB;
}

.grass {
    --primary-color: #204000;
    --secondary-color: #409608;
    --tertiary-color: #68F60B;
    --quarternary-color: #EFFEE7;
}

.fire {
    --primary-color: #FC0C0A;
    --secondary-color: #F57F0B;
    --tertiary-color: #F8B80D;
    --quarternary-color: #FFEAC5;
}

.water {
    --primary-color: #09517A;
    --secondary-color: #0C79BE;
    --tertiary-color: #36AFF6;
    --quarternary-color: #F1FAFF;
}

.flying {
    --primary-color: #075966;
    --secondary-color: #5EB8B4;
    --tertiary-color: #DCE5EA;
    --quarternary-color: #FFFFFF;
}

.bug {
    --primary-color: #91BA30;
    --secondary-color: #BEDD6E;
    --tertiary-color: #D8FC9D;
    --quarternary-color: #FFFFFF;
}

.poison {
    --primary-color: #621580;
    --secondary-color: #A82AD6;
    --tertiary-color: #CA72EB;
    --quarternary-color: #F6E9FD;
}

.electric {
    --primary-color: #969104;
    --secondary-color: #FFFA25;
    --tertiary-color: #F7FC84;
    --quarternary-color: #FFFAD6;
}

.ground {
    --primary-color: #BFAC22;
    --secondary-color: #E2D25B;
    --tertiary-color: #F0E295;
    --quarternary-color: #FFFFFF;
}

.fighting {
    --primary-color: #800B11;
    --secondary-color: #E8131A;
    --tertiary-color: #D46065;
    --quarternary-color: #FFAEAA;
}

.psychic {
    --primary-color: #8B0633;
    --secondary-color: #EC0F64;
    --tertiary-color: #F55792;
    --quarternary-color: #FCB6D0;
}

.rock {
    --primary-color: #473F26;
    --secondary-color: #786B3F;
    --tertiary-color: #958350;
    --quarternary-color: #B4A272;
}

.ice {
    --primary-color: #113C43;
    --secondary-color: #1B94A3;
    --tertiary-color: #66D0E5;
    --quarternary-color: #DCFCF7;
}

.ghost {
    --primary-color: #472B53;
    --secondary-color: #8F55A4;
    --tertiary-color: #BD98CB;
    --quarternary-color: #EFE5F1;
}

.dragon {
    --primary-color: #291069;
    --secondary-color: #8B56FE;
    --tertiary-color: #D7B1FF;
    --quarternary-color: #FFFFFF;
}

.dark {
    --primary-color: #2E231C;
    --secondary-color: #604733;
    --tertiary-color: #936754;
    --quarternary-color: #4F4F4F;
}

.steel {
    --primary-color: #454545;
    --secondary-color: #7C8E8A;
    --tertiary-color: #BBC5C4;
    --quarternary-color: #EDEFEE;
}

.fairy {
    --primary-color: #F87EA7;
    --secondary-color: #FFA0C2;
    --tertiary-color: #FDD1E0;
    --quarternary-color: #FFFFFF;
}
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::selection {
  background-color: #107394;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #107394;
  padding: 4rem;
}

.content {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 0.8rem;
  background-color: #FFF;
  color: #000;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "fire-red";
  src: url(../../../assets/fonts/pokemon_fire_red.ttf);
}
body {
  font-family: Inter, Roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2.4rem;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.btn {
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}

.pokecard {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid grey;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  color: var(--quarternary-color);
  border-radius: 0.8rem;
  background-image: linear-gradient(to top left, var(--primary-color) 0%, var(--secondary-color) 35%, var(--tertiary-color) 100%);
  overflow: hidden;
  padding: 1.6rem;
  transition: all 0.2s ease-in;
}
.pokecard__display {
  width: 100%;
  background-image: url(/pokemon_background.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--quarternary-color);
}
.pokecard__display--img {
  display: block;
  width: 50%;
  position: relative;
  margin: auto;
}
.pokecard__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 0;
  padding: 1.25rem;
  border: 0.2rem solid var(--quarternary-color);
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0);
}
.pokecard__detail--top {
  font-size: 1.5rem;
}
.pokecard__detail--center {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 3.2rem;
  padding: 1.6rem 3.2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.pokecard__detail--left {
  font-weight: bold;
}
.pokecard__detail--right {
  font-weight: 600;
}
.pokecard__detail--bottom {
  width: 100%;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.pokemon__name {
  text-transform: capitalize;
}

.input {
  width: 80%;
  margin: auto;
  padding: 1.25rem;
  text-align: center;
  border: 0.2rem solid #000000;
  outline: none;
  border-radius: 0.8rem;
  color: #000;
  font-family: Inter, Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.input::-webkit-search-cancel-button {
  background-color: #000;
  color: black;
}

.random-btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.5rem;
  background: rgb(0, 102, 255) url(../../../../public/shuffle.svg);
  background-size: 80%;
  background-position: center;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 85%;
  border-top: 2px solid black;
  background-color: whitesmoke;
  padding: 8rem 16rem;
  margin: 32rem auto 8rem;
  text-align: center;
  border-radius: 0 0 1.5rem 1.5rem;
}
.footer__text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.footer__text {
  flex: 1;
  align-self: stretch;
}
.footer__text:not(:last-of-type) {
  border-right: 0.2rem solid #000000;
}
.footer__text:not(:first-child) {
  padding-left: 4rem;
}
.footer__text:not(:last-child) {
  padding-right: 4rem;
}
.footer__legal {
  margin-top: 8rem;
}

.header {
  font-size: 1.75rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem auto;
  width: 95%;
}
.header__logo {
  width: 8.5rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
}
.user:hover {
  text-decoration: underline;
}
.user__icon {
  box-sizing: content-box;
  border: 0.2rem solid grey;
  border-radius: 50%;
  width: 6rem;
}

.navigation {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
  margin: 0 8rem;
}
.navigation__list {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  list-style: none;
  gap: 4rem;
}
.navigation__item {
  text-transform: capitalize;
}
.navigation__item:not(:last-child) {
  margin-right: 3rem;
}
.navigation__link {
  border-radius: 2.5rem;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease;
}
.navigation__link:visited, .navigation__link:link {
  color: #000;
  text-decoration: none;
}
.navigation__link:hover {
  background-color: #107394;
  color: whitesmoke;
}
.navigation__link--selected {
  background-color: #107394;
  color: whitesmoke;
}
.navigation__link--selected:hover {
  opacity: 1.2;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  width: 80%;
  margin-top: 16rem;
  padding: 8rem;
}
.search-container__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.search-container__hero {
  max-width: 55%;
}
.search-container__input {
  margin-top: 2.5rem;
  font-family: "fire-red", Inter, Roboto, sans-serif;
  background-color: whitesmoke;
  max-width: 50%;
}
.search-container__input::grammar-error {
  text-decoration: none;
}
.search-container__input::-webkit-search-cancel-button {
  appearance: none;
}
.search-container .search-container__input:valid ~ .button-container .button-container__btn-search {
  pointer-events: all;
  opacity: 1;
}
.search-container .button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2.5rem;
}
.search-container .button-container__btn-search {
  pointer-events: none;
  opacity: 0.4;
  padding: 2rem 4rem;
  background-color: #77dd77;
}
.search-container .button-container__btn-random {
  align-self: baseline;
  background-color: #107394;
}

.pokelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  color: whitesmoke;
  margin: 4rem auto;
}
.pokelist__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 4rem 0rem;
  background-color: #419cbd;
  border-radius: 0.8rem;
}
.pokelist__nav {
  width: 70%;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pokelist__nav__link:link, .pokelist__nav__link:visited {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}
.pokelist__main {
  border: 1px red solid;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
  padding: 6.4rem;
}
.pokelist__card {
  margin: 1.6rem;
  padding: 1.6rem;
  width: calc(10vw + 8rem);
  background-color: #419cbd;
  border-radius: 2.5rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pokelist__card:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.pokelist__card * {
  transition: all 0.2s ease;
}
.pokelist__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.pokelist__card__img {
  width: 75%;
}
.pokelist__card__title {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: whitesmoke;
}
.pokelist__card__link:link, .pokelist__card__link:visited {
  color: whitesmoke;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
